.banner {
  min-height: 150px;
  position: relative;
}
.banner .smallprint,
.banner a,
.banner a:visited {
  text-decoration: none;
}

#ribbon {
  position: absolute;
  top: -12px;
  right: -8px;
  width: 68px;
  height: 80px;
  padding: 14px 10px 31px 10px;
  text-align: center;
  line-height: 1em;
}

#ribbon .ribbonYear {
}

#ribbon .ribbonYearSup {
	vertical-align: super;
}

#ribbon .ribbonDesc {
	display: inline-block;
	padding: 6px 0 0 0;
}

#ribbon .ribbonDate {
}

#social {
  position: relative;
  margin: 10px;
  padding-left: 100px;
  height: 75px;
}

#social .links {
  position: absolute;
  top: 0;
  left: 0;
  width: 98px;
  height: 70px;
}
#social .links a {
  display: block;
  padding: 5px 5px 5px 30px;
  height: 28px;
  overflow: hidden;
}
#social .links a:first-child {
  margin-bottom: 5px;
}
#social .links .facebookLink {
}
#social .links .twitterLink {
  line-height: 28px;
}

#social .recent {
  position: relative;
  padding-left: 10px;
  display: none;
}
#social .facebook,
#social .twitter {
  display: block;
}
#social .recent .chatbubble {
  padding: 5px 8px;
  height: 74px;
}
#social .recent .chatarrow {
  position: absolute;
  left: 0;
}
#social .facebook .chatarrow {
  top: 12px;
}
#social .twitter .chatarrow {
  bottom: 12px;
}

#social .recent .chatbubble .info {
  padding-top: .25em;
}
