#eventTab > p {
  padding-left: 4px;
  padding-right: 4px;
}
#eventTab p:first-child {
  padding-top: 4px;
}

.tabbody .nested {
  border-radius: 8px;
  -webkit-border-radius: 8px;
}

#eventTab p.register {
  padding-left: 23px;
  background: transparent url('/common/images/badge-register.png') no-repeat left;
  background-size: 20px;
}

#eventTab p.confirmed {
  background-image: url('/common/images/badge-confirmed.png'); 
}

#searchformcontainer + .searchHeader {
  margin-top: 18px;
}

.searchHeader {
  font: 94.1%/1.33em Georgia, serif;
  color: white;
  background: #292626;
  margin: 0;
  padding: 4px 10px;
}
.searchHeader + .results {
  margin: 0;
}

#bookmarkContainer {
  margin: -4px -14px 0 0;
  padding-left: 5px;
}
