#eventTab > p {
  padding-left: 4px;
  padding-right: 4px;
}
#eventTab p:first-child {
  padding-top: 4px;
}

.tabbody .nested {
  border-radius: 8px;
  --webkit-border-radius: 8px;
}

#eventTab p.register {
  padding-left: 22px;
  background: transparent url('/common/images/warning.png') no-repeat 2px center;
  background-size: 17px;
}

#eventTab p.confirmed {
  background-image: url('/common/images/ok.png'); 
}
