#eventTab > p {
  padding-left: 4px;
  padding-right: 4px;
}
#eventTab p:first-child {
  padding-top: 4px;
}

.tabbody .nested {
  border-radius: 8px;
  -webkit-border-radius: 8px;
}

#eventTab p.register {
  padding-left: 23px;
  background: transparent url('/common/images/badge-register.png') no-repeat left;
  background-size: 20px;
}

#eventTab p.confirmed {
  background-image: url('/common/images/badge-confirmed.png'); 
}
