.nav li .register {
  padding-left: 22px;
}

.nav li .register .icon {
  left: 3;
  margin-top: -12px;
  height: 20px;
  width: 20px;
  background: transparent url('/common/images/badge-register.png') no-repeat left;
  background-size: 20px;
}
