.dateHeader {
  font: 94.1%/1.33em Georgia, serif;
  color: white;
  background: #736e6a;
  margin: 0;
  padding: 4px 10px 4px 10px;
}
.dateHeader + .results {
  margin: 0;
}

.nav .smallprint a {
  display: inline;
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: inherit;
}


.nonfocal > h2,
.nonfocal p {
  padding-right: 40px;
}

.nav li div.register,
.nav li div.register + .smallprint {
  padding-left: 22px;
}

.nav li img.register  {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -8px;
  height: 17px;
  width: 17px;
}

a.fqCheckin {
  padding-left: 30px;
}
#fqCheckin {
  position: absolute;
  top: 50%;
  left: 8px;
  height: 17px;
  width: 17px;
  margin-top: -9px;
}
#fqCheckin.checkedin {
  background-image: url('/common/images/button-foursquare-checkedin.png')
}
.fqPhoto {
  vertical-align: text-top;
}

.cancelButton {
  float: right;
  padding-right: .5em;
}

select {
  width: auto;
}
