
h3.nonfocal, .nonfocal h3 {
	margin: 1em 0 0 0;
}

#navbar2 {
  height: auto;
}
#navbar2 .postControl span {
  display: inline;
  font-size: 82.353%;
}
#navbar2 .textspacer {
  display: inline;
  font-size: 82.353%;
}
#navbar2 .postControl {
  display: inline;
  font-size: 82.353%;
}
#navbar2 #comment,
#navbar2 #bookmark,
#navbar2 #like {
  margin: 0px;
  background: none;
  font-size: 82.353%;
}
#navbar2 #prev,
#navbar2 #next {
  position: static;
  background: none;
  font-size: 82.353%;
}
