#navbar2 {
  position: relative;
  line-height: 45px;
}

#navbar2 .tabstrip,
#navbar2 form {
  line-height: 45px;
  margin: 0;
}

.fbPostForm {
  overflow: hidden;
}

.fbPostForm form {
  margin: 0;
}

#navbar2.postNav {
  padding: 0;
  height: 45px;
}

#navbar2 .postControl {
  display: inline-block;
}

#navbar2 .postControl img {
  height: 36px;
  width: 40px;
  margin: 5px 8px;
}

#navbar2 #prev {
  position: absolute;
  top: 0;
  left: 0;
}

#navbar2 #next {
  position: absolute;
  top: 0;
  right: 0;
}

#navbar2 #bookmark {
  background: none;
  height: auto;
  width: auto;
  display: inline;
}
#navbar2 #bookmark .unbookmark,
#navbar2 #bookmark.on .bookmark {
  display: none;
}
#navbar2 #bookmark.on .unbookmark {
  display: inline-block;
}

#navbar2 #like .unlike,
#navbar2 #like.liked .like {
  display: none;
}
#navbar2 #like.liked .unlike {
  display: inline-block;
}

.focal .comment {
  margin-top: 18px;
}
.focal .comment:first-child {
  margin-top: 0;
}

.focal .comment {
  position: relative;
}

.focal .comment .profilepic {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
}

.focal .comment .profilepic + .wrapper {
  padding-left: 30px;
}
