#navbar2 {
  position: relative;
  line-height: 45px;
}

#navbar2 .tabstrip,
#navbar2 form {
  line-height: 45px;
  margin: 0;
}

.fbPostForm {
  overflow: hidden;
}

.fbPostForm form {
  margin: 0;
}

#navbar2.postNav {
  padding: 0;
  height: 45px;
}

#navbar2 .postControl {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: blue;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 32px;
  margin: 6px;
}

#navbar2 #prev {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/common/images/button-prev.png');
}

#navbar2 #next {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('/common/images/button-next.png');
}

#navbar2 #comment {
  background-image: url('/common/images/button-comment.png');
}
#navbar2 #bookmark {
  background-image: url('/common/images/button-bookmark.png');
}
#navbar2 #bookmark.on {
  background-image: url('/common/images/button-unbookmark.png');
}
#navbar2 #like {
  background-image: url('/common/images/button-like.png');
}
#navbar2 #like.liked {
  background-image: url('/common/images/button-unlike.png');
}
