#navbar2 {
  position: relative;
  line-height: 45px;
}

#navbar2 .tabstrip,
#navbar2 form {
  line-height: 45px;
  margin: 0;
}

.fbPostForm {
  overflow: hidden;
}

.fbPostForm form {
  margin: 0;
}

#navbar2.postNav {
  padding: 0;
  height: 45px;
}

#navbar2 .postControl {
  display: inline-block;
  height: 36px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 40px;
  margin: 5px 8px;
}

#navbar2 #prev {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/common/images/button-navbar2-prev.png');
}

#navbar2 #next {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('/common/images/button-navbar2-next.png');
}

#navbar2 #comment {
  background-image: url('/common/images/button-navbar2-comment.png');
}
#navbar2 #bookmark {
  background-image: url('/common/images/button-navbar2-bookmark.png');
}
#navbar2 .on #bookmark {
  background-image: url('/common/images/button-navbar2-unbookmark.png');
}
#navbar2 #like {
  background-image: url('/common/images/button-navbar2-like.png');
}
#navbar2 #like.liked {
  background-image: url('/common/images/button-navbar2-unlike.png');
}
