#social .recent .cbl {
  left: 1px;
}

#ribbon {
  padding-top: 8px;
}

#ribbon .ribbonYear {
}
#ribbon .ribbonDesc {
	padding-top: 24px;
}

.chatbubble .message,
.chatbubble .info {
  border-width: 0;
  padding: 0;
}
