h3,
.nonfocal {
  margin-top: 1em;
  margin-bottom: .25em;
}
.nonfocal + .nav {
  margin-top: .25em;
}

.loggedin {
  color: #007100;
}
.loggedout {
  color: #c10000;
}

.nav li label {
  display: inline-block;
}
.nav li input[type=checkbox] {
  vertical-align: top;
}

.nonfocal + form,
.nonfocal + form .nav {
  margin-top: .25em;
  margin-bottom: .25em;
}

.savebutton {
  margin-top: .25em;
}
