.banner .smallprint,
.banner a,
.banner a:visited {
  color: #DCDAD9;
}

#ribbon {
  background: url('/modules/home/images/ribbon.png') no-repeat;
  font-family: Georgia, serif;
  color: #fff;
  text-shadow: #000 0 1px 2px;
}

#ribbon .ribbonYear {
  font-size: 38px;
}

#ribbon .ribbonYearSup {
	font-size: 18px;
}

#ribbon .ribbonDesc {
	font-size: 16px;
}

#ribbon .ribbonDate {
	font-size: 13px;
}

#social .links a {
  font-size: 70%;
  line-height: normal;
  border: solid 1px black;
  -webkit-border-radius: 6px;
  color: white;
  background: transparent no-repeat 3px center;
  background-size: 24px;
}
#social .links .facebookLink {
  background-image: url('/common/images/button-facebook.png');
}
#social .links .twitterLink {
  background-image: url('/common/images/button-twitter.png');
  line-height: 28px;
}

#social .recent .chatbubble {
  background-color: #BBB;
  color: #333;
  -webkit-border-radius: 8px;
  border: solid 1px black;
  font-size: 95%;
}
