.banner p,
.banner a,
.banner a:visited {
  color: #dcdad9;
}

.banner p {
	margin: 6px 0;
}

.banner h3 {
	margin: 8px 0 6px 0;
	color: #d3dbe0;
	font-size: 100%;
}

.banner h2 {
  font-size: 160%;
  margin: 6px 0;
  text-shadow: #444 0 1px 2px;
}

.springboard {
	margin: -6px 0;
}

#ribbon {
  text-align: center;
  line-height: 1em;
  background: url('/modules/home/images/ribbon.png') no-repeat;
  font-family: Georgia, serif;
  color: #fff;
  text-shadow: #000 0 1px 2px;
}

#ribbon .ribbonYear {
  font-size: 38px;
}

#ribbon .ribbonYearSup {
	font-size: 18px;
}

#ribbon .ribbonDesc {
	font-size: 16px;
}

#ribbon .ribbonDate {
	font-size: 13px;
}

#social {
  position: relative;
  padding: 0 4px 0 112px;
  height: 94px;
}

#social .links {
  position: absolute;
  top: 3px;
  left: 7px;
  width: 116px;
  height: 70px;
}

#social .links a {
  font-size: 70%;
  line-height: normal;
  padding: 5px 6px;
  height: 32px;
  overflow: hidden;
  background: url('/modules/home/images/socialbutton.png') no-repeat;
  color: white;
}

#social .links a:first-child {
  margin-bottom: 5px;
}

#social .recent {
  position: relative;
  padding-left: 10px;
  display: none;
}

#social .facebook,
#social .twitter {
  display: block;
}

#social .recent .chatbubble {
  color: #333;
  padding: 8px 0 6px 0;
  margin: 0 14px 0 18px;
  height: 81px;
  font-size: 82.3%;
  line-height: 1.25em;
  background: url('/modules/home/images/chatbubble-mid.png') repeat-x;
}

#social .recent .cbr {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 95px;
  background: url('/modules/home/images/chatbubble-r.png') no-repeat;	
}

#social .recent .cbl {
  position: absolute;
  top: 0;
  left: 10px;
  width: 18px;
  height: 95px;
  background: url('/modules/home/images/chatbubble-l1.png') no-repeat;	
}

#social .recent .chatbubble .info {
  padding-top: .25em;
  color: #626a70;
  font-size: 95%;
}
