.results li.story {
  padding: 0;
}

#category-form .toggle-search-button {
    padding: 0 0 0 .5em;
}
#category-switcher .formlabel {
    padding: 0 .25em 0 0;
    width: 3.7em;
}
#category-switcher .inputfield input[type=text] {
    width: 97%;
    margin: 0;
}

#category-switcher #search-form .textbutton {
  background-color: #930811;
  color: white;
}
#category-switcher #search-form .togglefield {
  text-align: right;
  padding: 0 0 0 .5em;
}
