.news {
 	/* Background color for news listing */
	background-color: #e2e1dd;
	color: #222;
}

.slugline {
	color: #000;
}

#storysubhead, #storysubhead  a {
	color: #5d5955;
}

.byline {
    font-size: 84%;
}

.dek {
	font: 120%/1.25em Georgia, serif;
    color: #554c41;
}

#story, #story a {
	color: #242322;
}

#story a:hover {
	color: #c00;
}