.nonfocal a,
.nonfocal a:visited {
  color: #DCDAD9;
}
#navbar2 {
  line-height: 33px;
}


#navbar2 + .results {
  margin-top: 0;
}

.results li.videoListing {
  margin: 0;
  padding: 0;
}

.results li.videoListing a {
  overflow: hidden;
  margin: 0;
  padding-left: 99px;
  -webkit-border-radius: 0px;
  position: relative;
  min-height: 80px;
}

.results .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  margin: 0;
  text-align: center;
  line-height: 86px;
  background: black;
  margin: 1px;
}
.results .thumbnail img {
  max-width: 90px;
  max-height: 90px;
  vertical-align: middle;
}

div.author {
}

div.message {
  font-weight: bold;
  height: 43px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.when {
  padding-top: .25em;
}

li {
  overflow: hidden;
}
form textarea {
  width: 98%;
  line-height: normal;
}
form input[type=submit] {
  float: right;
}

#navbar2 {
  text-align: center;
}
