div.videoWrapper {
  max-width: 100%;
  overflow: hidden;
}
div.videoWrapper + .nonfocal {
  text-align: center;
}

.nav a.author {
  display: inline;
  margin: 0;
  padding: 0;
  background: none;
  text-decoration: underline;
}

.nav a.scrolllink {
  display: inline;
  margin: 0;
  padding: 0;
  background: none;
}

.nav a.removeLink {
  display: block;
  margin: 0;
  padding: 0 0 5px 10px;
  background: none;
  float: right;
}
.nav li form {
  margin-top: 0;
}

div.videoWrapper {
  text-align: center;
}

div.videoInfo {
  text-align: center;
}
