div.videoWrapper {
  overflow: hidden;
  text-align: center;
}
div.videoInfo {
  text-align: center;
}
div.videoWrapper + .nonfocal {
  text-align: center;
}

.nav a.author {
  display: inline;
  margin: 0;
  padding: 0;
  background: none;
  text-decoration: underline;
}

.nav a.scrolllink {
  display: inline;
  margin: 0;
  padding: 0;
  background: none;
}

.nav a.removeLink {
  display: block;
  margin: 0;
  padding: 0 0 5px 10px;
  background: none;
  float: right;
}
.nav li form {
  margin-top: 0;
}

a.videoLink, a.videoLink:visited {
  position: relative;
  display: block;
  text-decoration: none;
}
.videoLink img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.videoLink .playButton {
  background: rgba(0, 0, 0, 0.70) url('/common/images/playvideo.png') no-repeat 50% 50%;
  border-bottom-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  color: white;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0px 0px -50px;
  z-index: 100;
}
