/* Springboards */

.springboard div {
	/* Overall size of one cell in the springboard */
	width: 76px;
	height: 106px;
}

.springboard div a {	
	/* Color and size of text label below each springboard icon */
	font-size: 90%;
}

.springboard a img {
	/* Size of actual item icon in springboard - for best results make actual PNGs match this size */
	width: 60px;
	height: 60px;
}

.springboard div.utility {
	/* Overall size of one cell in the springboard's fixed utility-type items */
	width: 76px;
	height: 94px;
}

.springboard div.utility a {
	font-size: 90%;
}

.springboard div.utility a img {
	/* Size of actual item icon in the springboard's fixed utility-type items - for best results make actual PNGs match this size */
	width: 42px;
	height: 42px;
}

.nonfocal form {
	margin-left: -2px;
	margin-right: -2px;
}



a.bookmarked {
	padding-left: 25px;
	background: url(/common/images/ribbon-listitem.png) no-repeat 5px;
}



/* Secondary nav bars */

#navbar2 {
	height: 34px;
	border-bottom: 1px solid #444;
}

#navbar2, #navbar2 * {
}

#navbar2 select {
	height: 32px;
	line-height: 30px;
	padding-top: 2px;
	padding-bottom: 0;
	background: #94111d;
	background-image: none;
	border-bottom: 1px solid #4a0005;
