/* Overall font and colors */

html {
	background: #67615d url(/common/images/background-tile.jpg);
}

body {
	background-image: url(/common/images/background-tile2.jpg);
	background-repeat: repeat-x;
	font: 17px/1.33em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, th, td, li {
	/* Primary font */
	color: #dcdad9;
}

option, select, input {
	color: #222;
}

.focal, .nav, .results {
	/* Border color for many container elements */
	/* border-color: #bbb; */
	border: none;
}

.secondary {
	/* Border color override specific to this theme */
	border-color: #ccc;
}

.nav li, .results li, .secondary li, ul.focal li  {
	/* Border color for list items */
	border-color: #aaa;
}

a, a:visited {
	color: #807c79;
}

h1 {
	font-family: Georgia, serif;
	font-size: 29px;
	font-weight: normal;
	color: #f2f1ed;
}

h2 {
	font-family: Georgia, serif;
	font-size: 22px;
	font-weight: normal;
	color: #f2f1ed;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	color: #f2f1ed;
}

h4 {
	font-size: 1em;
	font-weight: normal;
	color: #222;
}

dt, .label, .legend, .legend.nonfocal, .legend h2, .legend h3, .searchlegend, .smallprint, .fineprint, .dek {
	/* Accent text color for several types of secondary text that appears on white backgrounds, e.g., label in label/value pairs, e.g., People Directory detail screen and for labels in certain calendar listing screens */
	/* Often the same as the secondary text color defined in the next rule */
	color: #5c5a59;
}

.foundat, .address, #footer, .copyright, #footerlinks a, #footerlinks a:visited {
	/* Secondary text color for several types of secondary text that typically appear on the colored background */
	color: #5c5a59;
}

#footerlinks a, #footerlinks a:visited {
	/* Specific override for the Harvard Reunion theme */
	color: #aca7a4;
}

.nonfocal .legend.nonfocal,
.nonfocal .smallprint {
  color: #dcdad9;
}

/* Major content blocks */

.focal {   
	/* Focal content div */
	color: #222;
	background-color: #e2e1dd;
}

.shaded {
	/* Shaded subclass of focal content - e.g., background for tabbed focal div */
	background-color: #e2e1dd;
}

.focal.shaded h2 {
  color: #434140;
}

/* Nav bar at top of all screens other than home screen */

#navbar {
	height: 48px; 
	background: url(/common/images/navback.png) repeat-x;
	font-size: 16px;
}

/* Uncomment this rule and comment out the previous one to use a background gradient rather than image
#navbar {
	height: 45px;
	background: #800;	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d02023), to(#400006));
	font-size: 16px;
}
*/

.breadcrumbs, .breadcrumbs a, .breadcrumbs a:visited {
 	/* All breadcrumb links in nav bar */
	color: #ccc;
}

.pagetitle {
 	/* Current page title in nav bar */
	color: #ccc;
}



/* Secondary nav bars */

#navbar2, #category-switcher {
	background: #9c0820 url(/common/images/navback2.png) top left repeat-x;
  	color: #fff;
}

#navbar2 select, #category-switcher select {
	background-color: #a9050f;
	color: #fff;  
	border-color: #700d15;
}



/* Footer */

#footer {
	font-size: 12px;
	line-height: 14px;
}

#footer .copyright {
	text-decoration: none;
}

#footerlinks {
	color: #999693;
}

/* Text input fields, e.g., search fields */

.forminput {
  /* Should match the border color of image /common/images/mobile/search_button.png */
	border-color: #363433; 	
}

.inputcombo .forminput {
  /* Border color should match the border color of image /common/images/mobile/search_button.png */
	border: 1px 0 1px 1px solid #363433; 	
	-webkit-border-bottom-left-radius: 8px;	
	-webkit-border-top-left-radius: 8px;	
}

.emphasized  .forminput {
  /* Border color should match the border color of image /common/images/mobile/search_button.png, border weight should be 2px greater than border weight of .inputcombo .forminput */
	border: 3px solid #363433; 		
	/* Corner radius should be 2px greater than corner radius of .inputcombo .forminput */
	-webkit-border-bottom-left-radius: 10px; 		
	-webkit-border-top-left-radius: 10px;	
}

/* Springboards */

.springboard div {
	/* Overall size of one cell in the springboard */
	width: 77px;
	height: 92px;
	font-size: 13px;
	line-height: 13px;
}

.springboard a {	
	color: #e2e1dd;
}

.springboard a img {
	/* Size of actual item icon in springboard */
	width: 60px;
	height: 60px;
}

.springboard div.utility {
	/* Overall size of one cell in the springboard's fixed utility-type items */
	width: 76px;
	height: 86px;
	font-size: 12px;
	line-height: 13px;
}

.springboard div.utility a img {
	/* Size of actual item icon in the springboard's fixed utility-type items */
	width: 36px;
	height: 36px;
}

/* Navigation and results lists */

.nav, .results {
	/* Main navigation lists and search-results lists */
	background-color: #e2e1dd; 	
}

.tabbody .nav, .tabbody .results {
	background-color: white;
}

.secondary {
	/* Secondary navigation or action lists; typically have slightly smaller font size and slightly darker/tinted backgrounds */
	font-size: 95%;
	background-color: #e2e1dd;
}

.nav, .results, .secondary, .nav li, .results li, .secondary li, .nav a, .nav a:visited, .nav span.nolink, .results a, .results a:visited, .secondary, .secondary a, .secondary a:visited  {
	color: #222;
}

.nav .badge {
	/* Badge shown within a navigation list, e.g., unread count for messages */
	color: #fff;
	background-color: #c00;
}

.announcements {	   
	background-color: #e2e1dd;
}

.announcements li {	
	font-size: 14px;
	line-height: 19px;
	color: #535251;
}

a.bookmarked {
	padding-left: 25px;
	background: url(/common/images/ribbon-listitem.png) no-repeat 5px, url(/common/images/action-arrow.png) no-repeat right;
}


/* Next/previous navigation - e.g., going from day to day in events calendar */

.sidenav {
	/* Divider between next/previous links */
	color: #a0a09f;
}

.sidenav a {
	/* Next/previous links */
	color: #1a1611;
}





/* Tabs */

#tabs li {
	border: 1px solid #bbb;	/* Should match #tabbodies border-color */
	background-color: #bbb;	/* Should match #tabbodies border-color */
}

#tabs li.active {
	border-bottom: 1px solid #fff;	/* Should match #tabbodies background-color */
	background-color: #fff;	/* Should match #tabbodies background-color */
}

#tabs li a {
	/* Text label of unselected tab */
	color: #404040;
}

#tabs li.active a {
	/* Text label of currently selected tab */
	color: #000;
}

#tabs li.greyedout {
	/* Text label of disabled tab */
  	color: #666;
}

#tabbodies {
	border-color: #bbb;
	background-color: #fff;
}

.tabbody .nested {
	/* Navigation list inside a tab body needs a bit of background color to contrast from tab body background */
	background-color: #f9f6ef;
}



/* Bookmarks */

#bookmarkContainer {
  width: 46px;
  height: 95px;
  position: absolute;
  float: none;
	top: -12px;
	right: 0px;  
	margin: 0;
	z-index: 2000;
}

.focal #bookmarkContainer {
  right: 12px;
}

#bookmark {
  width: 46px;
  height: 95px;
	border: none;
  background: url(/common/images/bookmark-ribbon.png) 0 0 no-repeat;
}
#bookmark.pressed {
    background-position: 0 0;
}
#bookmark.on {
    background-position: -100px 0;
}
#bookmark.pressed.on {
    background-position: -100px 0;
}

.nonfocal {
  position: relative;
}

/* Data charts */

.rowbar {
	background: #6499cb url(/common/images/rowbar.png) repeat-x;
}
.colbar {
	background: #6499cb url(/common/images/colbar.png) repeat-y;
}
.average {
	border-color: #c00;
}

