/* Global font size */

body {
	font-size: 19px;
}


/* Springboards */

.springboard {
	padding: 0 5px;
}

.springboard div, .springboard div.utility {
	/* Overall size of one cell in the springboard; for this device branch, this is the same for primary and utility-class springboard items */
	font-size: 100%;
	line-height: 1.1em;
	width: 82px;
	height: 92px;
}

.springboard div a, .springboard div.utility a {	
	/* Color and size of text label below each springboard icon; for this device branch, this is the same for primary and utility-class springboard items */
	font-size: 90%;
	line-height: 1.1em;
}

.springboard a img, .springboard div.utility a img {
	/* Size of actual item icon in springboard; for this device branch, this is the same for primary and utility-class springboard items - for best results make actual PNGs match this size */
	width: 60px;
	height: 60px;
}




a.bookmarked {
	padding-left: 25px;
	background: url(/common/images/ribbon-listitem.png) no-repeat 5px;
}
