.dateHeader {
  color: white;
  background: #736e6a;
  margin: 0;
  padding: 4px 10px;
}
.dateHeader + .results {
  margin: 0;
}

#dateselect {
  margin: -11px 0 0 0;
  padding: 6px 12px;
  background: #a50613;
  color: white;
}
#dateselect form {
  margin: 0;
}
#dateselect select {
  display: block;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  background: #a50613;
  padding: .25em .5em;
  border: 1px outset #700d15;
  color: white;  
}
